.App {
    background-color: green;
    width: 100vw;
    height: 100vh;
}

.game-board {
    padding: 4rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    width: 5rem;
    height: 7rem;
    /* border: solid 2px black; */
    /* border-radius: 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: white; */
}

.card.selected {
    box-shadow: 0 2px 8px 4px yellow;
}

.card.destination {
    box-shadow: 0 0 2px 2px red;
}

.deck {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    background-color: cornflowerblue;
    font-weight: 600;
}

.deck.empty {
    opacity: 0.4;
}