.App {
    background-color: green;
    width: 100vw;
    min-height: 100vh;
}

.game-board {
    padding: 4rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    width: 5rem;
    height: 7rem;
    /* border: solid 2px black; */
    /* border-radius: 4px; */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* background-color: white; */
}

.card.selected {
    box-shadow: 0 2px 8px 4px yellow;
}

.card.destination {
    box-shadow: 0 0 2px 2px red;
}

.deck {
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    background-color: cornflowerblue;
    font-weight: 600;
}

.deck.empty {
    opacity: 0.4;
}

.game-over {
    position: fixed;
    top: 33vh;
    bottom: 33vh;
    left: 35vw;
    right: 35vw;
    background-Color: #EEEE;
    border-radius: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 36pt;
    font-weight: 600;

    transform: none;
    opacity: 1;
    transition: all 0.7s;
}

.game-over.hidden {
    visibility: hidden;
    transform: translateY(-1rem);
    opacity: 0;
}

.game-over button {
    font-size: 18pt;
    padding: 8px;

}